div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
	padding-right: 0;
}

div.ingredient-group {
	width: 30%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
	color: red;
}

form:not(.logoutForm, .designForm){
    display: grid;
    grid-template-columns: 140px 205px auto auto;
    grid-gap: 4px;
}

form label {
    grid-column: 1 / 2;
    text-align:right;
}

form:not(.designForm) input {
    grid-column: 2 / 3;
    width:200px;
}

form h1, h2, h3, img {
    grid-column: 1 / 4;
}

form:not(.validationError) span{
    grid-column: 3/3
}

.menuHeader{
    display:flex;
    float:right;
}

.menuHeader a{
    margin-right: 10px;
}

.logoutForm{
    float:right;
}

.orderError{
    width:350px;
}


.ordersTable{
    margin: 20px 0px;
}

.ordersTable, th, td {
    border: 1px solid gray;
    border-collapse: collapse;

}

.ordersTable th,td{
    padding: 0px 10px;
}

.ordersTable th{
    background: lightgray;
}

.ordersTable caption{
    text-align:left;
}
